[Unit]
Description=Post code manager

[Service]
ExecStart=/usr/bin/env post-code-manager %i
SyslogIdentifier=post-code-manager
Type=dbus
BusName=xyz.openbmc_project.State.Boot.PostCode%i

[Install]
WantedBy=multi-user.target
