[Unit]
Description=Post code manager (host %i)

[Service]
ExecStart=/usr/bin/env post-code-manager --host %i
SyslogIdentifier=post-code-manager%i
Type=dbus
BusName=xyz.openbmc_project.State.Boot.PostCode%i

[Install]
WantedBy=multi-user.target
